@media all and (min-width: 1400px) {
    #page-1 > section > section > article > div > h1 {
        font-size: 3rem;
        letter-spacing: 10px;
    }

    #page-1 > section > section > article > div > h1:first-child {
        padding-top: 0;
        margin-bottom: 0;
    }

    #page-1 > section > .rightSection > section:nth-child(2) {
        height: 90%;
        width: 50%;


    }
}

@media all and (min-width: 100px) and (max-width: 450px) {

    body > header {
        height: 12vh;
        z-index: 10;
    }

    body > header::after {
        box-shadow: 0 0 20px #e52f2f, 0 0 20px #f10909;
        background-color: rgba(225, 9, 9, 0.56);
        animation-duration: 5s;
        transition: all 4s;
    }

    .mainHeaders {
        font-size: 1.4em;
        text-align: center;
        padding-left: 0;


    }
    header > nav > :last-child > ul li a{
        font-size: 1em !important;
    }

    header > nav > :last-child > ul li a:hover {
        margin-left: 5px !important;
        transition: all 4s;
    }


    main>aside>section{
        width: 30vw;
        right: -23vw;
    }


    main>aside>section:hover{
        right: 0;
    }
    main>aside>section:hover span{
        color: black;
    }
    main>aside>section>div img{
        width: 5vw;
    }



    header > nav > :last-child > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    header > nav > :last-child > ul a{
        font-size: 1em;
    }
    main>section{
        width: 97%;
        height: 84%;
    }
    /*PAGE- STYLE=========================*/
    #page-1 {
        height: 85vh;
        margin-top: 15vh;
    }
    #page-1 >section{
        box-shadow: 1px 1px 4px whitesmoke;
        transform: perspective(200vw) rotateY(0deg);
        margin-right: 0;
    }

    #page-1 > section > .leftSection {
        width: 100% !important;
    }

    #page-1 > section > .rightSection {
        display: none!important;
    }

    #page-1 > section > section > article {
        height: 60% !important;
    }

    #page-1 > section > .leftSection > section {
        height: 40%;
    }

    #page-1 > section > section > article > div {
        align-self: center !important;
    }


    #page-1 > section > section > article > div > h1 {
        font-size: 1.5rem !important;
        text-align: center;
    }

    #page-1 > section > section > article > div p {
        padding-top: 10px;
        font-size: 1.4rem;
        letter-spacing: 5px;
        text-align: center;
    }

    #page-1 > section > .leftSection > section > section:nth-child(1) > div:nth-child(1) {
        width: 70px!important;
    }

    #page-1 > section > .leftSection > section > section:nth-child(1) > div:nth-child(2) {
        margin-left: 15px!important;
        width: 120px!important;
    }

    #page-1 > section > .leftSection > section > section:nth-child(2) {
        padding-top: 5vh;
        align-items: self-start;
    }

    #page-1 > section > section:nth-child(1) > section > section:nth-child(2) > div {
        width: 15vw ;
        height: 15vw;
    }

    /*PAGE TOW STYLE======================*/

    #page-2{
        height: auto;
    }
    #page-2 >section{
        margin-top: 16vh;
        box-shadow: -1px -1px 4px #ffffff;
        height: 105vh;
    }
    #page-2 .downSection {
        font-size: 12px;
        height:150vh;

    }
    #page-2 .downSection > section:first-child{
        padding-left: 0;
    }
    #page-2 .downSection > section:first-child h4 {
        padding-left: 9%;
        font-size: 1.3em;
        margin: 5px;
    }

    #page-2 .downSection > section:first-child h3 {
        padding-left: 10%;
        margin: 5px;
    }
    #page-2 .downSection > section:last-child>:first-child{
        width: 40%;
    }

    #page-2 .downSection > section:last-child>:last-child{
        width: 60%;
    }
    #page-2 .downSection > section:last-child > aside{
        height: 60%;
    }

    #page-2 .downSection > section:last-child > aside > div {
        padding-bottom: 220%;
        background-position-x: 69% !important;
        width: 110% !important;
        margin-left: 10% !important;
    }

    #page-2 .downSection > section:last-child > article > p {
        margin: 5px;
        margin-right: 20% !important;
    }
    #page-2 .downSection > section:last-child > article > p:nth-child(1),
    #page-2 .downSection > section:last-child > article > p:nth-child(2)
    {
        margin-left: 10% !important;
    }
    #page-2 .downSection > section:last-child > article > p:nth-child(3) {
        position: relative;
        right: 62%;
        top: 2%;
        width: 90vw;
    }

    #page-2 .downSection > section:last-child > article > p:nth-child(4) {
        position: relative;
        right: 62%;
        margin-top: 20px;
        width: 90vw;
        margin-bottom: 50px;
    }


    /*PAGE 3 STYLE======================*/
    #page-3{
        height: auto;
    }
    #page-3>section{
        margin-top: 16vh;
        box-shadow: 0 0 4px whitesmoke;
    }
    #page-3 > section > section > div{
        font-size: 1.1em;
    }
    #page-3 > section > article {
        font-size: 12px;
        align-content: center;
        flex-wrap: nowrap;
    }

    #page-3 > section > article > p {
        text-align: center;
        font-size: 2em;
        margin-bottom: 25px !important;
    }



    #page-3 > section > article > p:nth-child(even) {
        color: rgba(255, 255, 255, 0.59);
    }

    /*PAGE 4 STYLE======================*/
    #page-4>section{
        box-shadow: -1px -1px 4px whitesmoke;
        margin-top: 16vh;
        width: 97% !important;
    }
    #page-4 .upSection > div {
        width: 80% !important;
        height: 100px !important;
        background-position-y: -100px;
    }

    #page-4 .mainHeaders {
        align-self: center !important;
    }

    #page-4 .downSection {
        width: 100%;
        height: 100%;
    }

    #page-4 .downSection > section {
        width: 80% !important;
        display: flex;
        flex-direction: column;
    }

    #page-4 .downSection > section > section {
        justify-content: center;
        height: 88% !important;
    }

    #page-4 .downSection > section > section > .serviceSection {
        height: 95% !important;
        overflow-x: scroll;
        width: 90% !important;
        align-self: center;
    }

    #page-4 .downSection > section > section > .serviceSection > section {
        width: max-content !important;
        justify-content: flex-start !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }
    #page-4 .downSection #serviceSection section > div {
        margin: 12px !important;
        /*   width: 62% !important;*/
        width: 58vw !important;
        height: 45% !important;
        display: none;

    }
    #page-4 .downSection #serviceSection section > div:nth-child(1),
    #page-4 .downSection #serviceSection section > div:nth-child(2){
      display: flex;
    }




    /*PAGE 5 AND PAGE 6 STYLE======================*/
    #page-5>section{
        box-shadow: 2px -1px 4px whitesmoke;
        width: 97%;
    }
    #page-5 .upSection > section {
        width: 80%;
    }
    #page-5 .skillSection > section > div, #page-6 .downSection > section > section > section > div {
        width: 75vw !important;
        margin-left: 0.33% !important;

    }
    #page-6{
        height: 100vh;
    }

    /*PAGE 7 STYLE (Education)======================*/
    #page-7 .downSection {
        margin-bottom: 0 !important;
    }
    #page-7 .downSection > section {
        height: 80% !important;
        width: 80% !important;
    }

    #page-7 .scrollSection{
        width: 300%!important;
    }

    /*PAGE 8 STYLE(Gallery)======================*/
    #page-8 .gallerySection > section{
        width: 90% !important;
    }

    /*PAGE 9 STYLE (Contract Me)======================*/

    #page-9 .mainHeaders{
        align-self: center;
    }
    #page-9 p{
        color: var(--pRed);
        font-size: 16px!important;
    }







}




