@media all and (min-width: 1400px) {
    #page-1 > section > section > article > div > h1 {
        font-size: 3rem;
        letter-spacing: 10px;
    }

    #page-1 > section > section > article > div > h1:first-child {
        padding-top: 0;
        margin-bottom: 0;
    }

    #page-1 > section > .rightSection > section:nth-child(2) {
        height: 90%;
        width: 50%;


    }
}

@media all and (min-width: 100px) and (max-width: 900px) {
    body>aside>section> h1>span {
        font-size: 3rem;
    }

    body > header {
        height: 12vh;
        z-index: 10;
    }
    body > header >nav{
        background: #000000ab;
    }

    body > header::after {
        box-shadow: 0 0 20px #e52f2f, 0 0 20px #f10909;
        background-color: rgba(225, 9, 9, 0.56);
        animation-duration: 5s;
        transition: all 4s;
    }

    .mainHeaders {
        font-size: 1.4em;
        text-align: center;
        padding-left: 0;


    }
    header > nav > :last-child > ul{
        margin: 0;
    }
    header > nav > :last-child > ul li a{
        font-size: 1em !important;
        letter-spacing: 1px;
    }

    header > nav > :last-child > ul li a:hover {
        margin-left: 5px !important;
        transition: all 4s;
    }


    main>aside>section{
        width: 30vw;
        right: -23vw;
    }


    main>aside>section:hover{
        right: 0;
    }
    main>aside>section:hover span{
        color: black;
    }
    main>aside>section>div img{
        width: 5vw;
    }



    header > nav > :last-child > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    header > nav > :last-child > ul a{
        font-size: 1em;
    }
    main>section{
        width: 97%;
        height: 84%;
    }
    /*PAGE- STYLE=========================*/
    #page-1 {
        height: 85vh;
        margin-top: 8vh;
    }
    #page-1 >section{
        box-shadow: 1px 1px 4px whitesmoke;
        transform: perspective(200vw) rotateY(0deg);
        margin-right: 0;
    }
    #page-1 >section:hover{
        box-shadow: 1px 1px 4px whitesmoke;
         margin-right: 0;
        transform: perspective(200vw) rotateY(0deg);
    }

    #page-1 > section > .leftSection {
        width: 100% !important;
    }

    #page-1 > section > .rightSection {
        display: none!important;
    }

    #page-1 > section > section > article {
        height: 60% !important;
    }

    #page-1 > section > .leftSection > section {
        height: 40%;
    }

    #page-1 > section > section > article > div {
        align-self: center !important;
    }


    #page-1 > section > section > article > div > h1 {
        font-size: 1.5rem !important;
        text-align: center;
    }

    #page-1 > section > section > article > div p {
        padding-top: 10px;
        font-size: 1.4rem;
        letter-spacing: 5px;
        text-align: center;
    }

    #page-1 > section > .leftSection > section > section:nth-child(1) > div:nth-child(1) {
        width: 70px!important;
    }

    #page-1 > section > .leftSection > section > section:nth-child(1) > div:nth-child(2) {
        margin-left: 15px!important;
        width: 120px!important;
    }

    #page-1 > section > .leftSection > section > section:nth-child(2) {
        padding-top: 5vh;
        align-items: self-start;
    }

    #page-1 > section > section:nth-child(1) > section > section:nth-child(2) > div {
        width: 15vw ;
        height: 15vw;
    }

    /*PAGE TOW STYLE======================*/

    #page-2{
        height: 100vh;
        align-items: center;
    }
    #page-2 >section{
        margin-top: 8vh;
        box-shadow: -1px -1px 4px #000000;
        height: 90%;
    }
    #page-2 .downSection {
        font-size: 12px;
        height: 100%;


    }
    #page-2 .downSection > section:first-child{
        padding-left: 0;
        height: 14%;
        margin-bottom: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #page-2 .downSection > section:first-child h4 {
            text-align: center;
        font-size: 1.3em;
        margin: 5px;
    }

    #page-2 .downSection > section:first-child h3 {
     text-align: center;
        margin: 5px;

    }
    #page-2 .downSection > section:last-child{
        justify-content: center;
    }
    #page-2 .downSection > section:last-child>:first-child{
        display: none;
    }

    #page-2 .downSection > section:last-child>:last-child{
        width: 80%;
        margin: 0;
    }
    #page-2 .downSection > section:last-child > aside{
        height: 60%;
    }

    #page-2 .downSection > section:last-child > article > p {
        margin: 5px;
        margin-right: 10% !important;
        margin-left: 10%;
        padding-bottom: 10px;
        text-align: center;
    }
    #page-2 .downSection > section:last-child > article > p::after{
        height: calc(100% + 15px);
    }




        /*PAGE 3 STYLE======================*/
    #page-3{
        height: auto;
    }
    #page-3>section{
        width: 97%;
        margin-top: 12vh;
        box-shadow: 0 0 4px whitesmoke;
    }
    #page-3 > section > section > div> h2{
        font-size: 1em;
        color: rgb(213 13 13 / 82%);
        text-shadow: 0 0 20px #ff0b0b !important;
    }
    #page-3 > section > article {
        font-size: 12px;
        align-content: center;
        flex-wrap: nowrap;
    }

    #page-3 > section > article > p {
        text-align: center;
        font-size: 1.7em;
        margin-bottom: 25px !important;
    }
    #page-3 > section > article > p::after{
        height: calc(100% + 30px);
    }





        /*PAGE 4 STYLE======================*/
    #page-4>section{
        box-shadow: -1px -1px 4px whitesmoke;
        margin-top: 16vh;
        width: 97% !important;
    }
    #page-4 .upSection > div {
        width: 80% !important;
        height: 100px !important;
        background-position-y: -100px;
    }

    #page-4 .mainHeaders {
        align-self: center !important;
    }

    #page-4 .downSection {
        width: 100%;
        height: 100%;
    }

    #page-4 .downSection > section {
        width: 95% !important;
        display: flex;
        flex-direction: column;
    }

    #page-4 .downSection > section > section {
        justify-content: center;
        height: 88% !important;
    }

    #page-4 .downSection > section > section > .serviceSection {
        height: 95% !important;
        overflow-x: scroll;
        width: 90% !important;
        align-self: center;
    }

    #page-4 .downSection > section > section > .serviceSection > section {
        width: max-content !important;
        justify-content: flex-start !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }
    #page-4 .downSection #serviceSection section > div {
        margin: 12px !important;
        width: 90vw !important;
        height: 45% !important;
        display: none !important;

    }
    #page-4 .downSection #serviceSection section > div:nth-child(1),
    #page-4 .downSection #serviceSection section > div:nth-child(2){
      display: flex !important;
    }
    #page-4 .downSection > section > aside > div {
        display: flex;
    }




    /*PAGE 5 STYLE======================*/
    #page-5>section{
        box-shadow: 2px -1px 4px whitesmoke;
        width: 97%;
        height: 80%;
    }
    #page-5 .upSection > section {
        width: 85%;
    }
    #page-5 .skillSection > section {
        margin-left: 25px;
    }
    #page-5 .skillSection > section > div{
        margin: 20px;
    }

    #page-5 .skillSection > section > div {
        width: 55vw !important;
        margin-left: 0 !important;

    }

  /*  PAGE 6 STYLE======================*!*/
    #page-6{
        height: 100vh;
    }
    #page-6 .downSection > section > section > section > div{
        width: 75vw !important;
    }
    #page-6 .downSection > section > section > section > div >:nth-child(3){
        opacity: 1;
    }
    #page-6 .downSection > section > section > section > div>article{
        opacity: 1;
    }
    #page-6 .downSection > section > section > section > div{
        opacity: 1;
    }
    #page-6 .downSection > section > section > section > div::after{
        background: linear-gradient(#9504c0,rgba(0, 0, 0, 0.1));
    }

        /*PAGE 7 STYLE (Education)======================*/
    #page-7 > section {
        margin-top: 8vh;
        height: 90%;
    }
    #page-7 .downSection {
        margin-bottom: 0 !important;
    }
    #page-7 .downSection > section {
        height: 95% !important;
        width: 85% !important;
    }

    #page-7 .scrollSection{
        width: 300%!important;
        height: 90%;
    }
    #page-7 .scrollSection>section{
        width: 150% !important;
    }

    /*PAGE 8 STYLE(Gallery)======================*/
    #page-8 > section {
        align-items: center;
    }
    #page-8 .gallerySection > section{
        width: 80% !important;
    }

    /*PAGE 9 STYLE (Contract Me)======================*/
    #page-9{
        height: 200vh;
        align-items: center;
    }
    #page-9>section{
        flex-direction: column;
    }
    #page-9 section .downSection{
        flex-direction: column;
        height: 100%;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 2vh;
    }
    #page-9 section .downSection::before{
       margin: auto;
        background-color: #050507;
        width: 80%;
    }
    #page-9 section .downSection>section{
        height: 40%;
        width: 100%;

    }

    #page-9 .mainHeaders{
        align-self: center;
    }
    #page-9 p{
        text-align: center;
        letter-spacing: 0;
        font-size: 16px!important;
    }


    /*FOOTER STYLE ====================*/


   body>footer{
        justify-content: center;
       height: auto;
       flex-direction: column;
       text-align: center;
    }
    body>footer>section{
        align-self: center !important;
    }
    body>footer>section:nth-child(2){
        order: 1;
    }
    body>footer>section:nth-child(4){
        order: 1;
    }

    @media all and (max-height: 500px){
        main>main{
            height: auto;
        }
        main>section{
            height: auto;
        }

    }





}

@media all and  (max-height:578px) {
    #page-1{
        height: 110vh !important;

    }
    #page-1 > section > .rightSection > section:nth-child(2) > div{
        width: 85%;
    }

}
@media all and  (max-height:622px) and (max-width: 450px) {
    main>main{
        height: 110vh !important;
    }
    #page-3{
        height: auto !important;

    }
    #page-9{
        height: 200vh !important;

    }

}



