
#page-2 {
    height: 99vh;

}


#page-2 > section {
    flex-direction: column;
    background: linear-gradient(180deg, rgba(3, 3, 3, 0.9108018207282913) 10%, rgba(232, 232, 232, 1) 35%, rgba(250, 250, 250, 0.9304096638655462) 100%, rgba(0, 0, 0, 1) 90%);

}
#page-2 > section:hover {
    box-shadow: 0 -5px 5px #ffffff,0 -5px 5px #ffffff;
}

#page-2 .upSection {
    height: 10%;

}

#page-2 .downSection {
    height: 90%;
    display: flex;
    flex-direction: column;
}


/*Down Section*/

#page-2 .downSection > section:first-child {
    align-self: center;
    height: 15%;
    padding-left: 5%;


}

#page-2 .downSection > section:last-child {
    height: 75%;
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
}

#page-2 .downSection > section:first-child h4, h3 {
    margin: 0;
    font-family: 'Goldman', cursive;
    color: rgba(255, 255, 255, 0.96);
    font-size: 1.7em;

}

#page-2 .downSection > section:first-child h4 {
    font-size: 1.5em;
}

#page-2 .downSection > section:last-child > aside {
    width: 30%;
    height: 100%;
}

#page-2 .downSection > section:last-child > article {
    margin-left: 4%;
    align-self: center;
    width: 70%;
    height: 100%;
    flex-grow: 1;
    font-family: 'Roboto Mono', monospace;
}


#page-2 .downSection > section:last-child > aside > div {
    background-image: url("../img/coding1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    margin-left: 4%;
    background-position-x: 50%;
    width: 100%;
    height: 100%;
}

#page-2 .downSection > section:last-child > article > p {
    color: rgba(5, 7, 6, 0.82);
    margin: 1%;
    margin-bottom: 3%;
    text-shadow: white;
}


/*====================================================================================== PAGE-3*/

#page-3 {
    height: 150vh;
    align-items: self-end;
    padding-bottom: 4%;
}


#page-3 > section {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    height: 92%;
/*    background: linear-gradient(90deg, rgba(3,3,3,0.9108018207282913) 59%, rgba(232,232,232,1) 100%);*/
    background: linear-gradient(to bottom ,white 5%, rgb(0, 0, 0) 40%);


}
#page-3 > section:hover {
    box-shadow: 0 5px 5px #ffffff;
}


#page-3 > section > section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    font-family: 'Goldman', cursive;
    font-size: 1.5em;
    align-content: space-evenly;

}

#page-3 > section > article {
    height: 70%;
    font-size: 1.4em;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;

}

#page-3 > section > section > div {
    align-self: center;
    font-size: 1.2em;
    letter-spacing: 7px;
    width: 100%;
    overflow: hidden;
}

#page-3 > section > section > div > h2 {
    text-align: center;
    color: black;
    text-shadow:0 0 20px #001973 !important;
}


#page-3 > section > article p {
    margin: 0;
    /*text-shadow: 0 0 5px whitesmoke;*/
    font-weight: bold;
    font-family: 'Goldman', cursive;
    letter-spacing: 4px;
    font-size: 1.1em;
    color: #ffffff;
    text-shadow: 0 0 10px rgb(0, 0, 0);

}

#page-3 > section > article > p:nth-child(odd) {
    color: rgba(246, 3, 3, 0.74);

}


































