/*MAIN PAGE  01 START..*/
#page-1 {
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


#page-1 > section {
    position: relative;
    height: 97%;
    max-height: 100%;
    flex-direction: row;
    flex-shrink: 1;
    flex-wrap: wrap;
    overflow: hidden;

   /* background: linear-gradient(90deg, rgb(255, 255, 255), rgb(0, 0, 0), rgba(0, 0, 0, 0.7));*/
    background: linear-gradient(to right ,rgba(86, 4, 11, 0.93) 0%, rgb(0, 0, 0) 60%);

}
#page-1 > section:hover {
    box-shadow: 5px 0 5px whitesmoke;
    margin-right: 20px;


}
/*#page-1 > section:hover span{
   opacity: 0.0;
    transition: all 2s;
}*/
/*#page-1 > section>span{
    position: absolute;
    transition: all 1s;
}
#page-1 > section>span:nth-of-type(1){
    top: 0;
   left: 0;
    height: 4px;
    width: 100%;
    background:linear-gradient(to right,transparent, rgb(227, 2, 207));
    animation: spanXR 4s linear infinite;
}
#page-1 > section>span:nth-of-type(2){
    top: 0;
   right: 0;
    height: 100%;
    width: 4px;
    background:linear-gradient(to bottom,transparent, rgb(255, 0, 0));
    animation: spanYB 4s linear infinite 2s;
}
#page-1 > section>span:nth-of-type(3){
   bottom: 0;
    right: 0;
    height: 4px;
    width: 100%;
    background:linear-gradient(to left,transparent, rgb(252, 252, 252));
    animation: spanXL 4s linear infinite;
}
#page-1 > section>span:nth-of-type(4){
    bottom: 0;
   left: 0;
    height: 100%;
    width: 4px;
    background:linear-gradient(to top,transparent, #0002fa);
    animation: spanYT 4s linear infinite 2s;
}
@keyframes spanXR {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);

    }
}
@keyframes spanYB {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);

    }
}
@keyframes spanXL {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);

    }
}
@keyframes spanYT {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);

    }
}*/

/*left-section*/
#page-1 > section > .leftSection {
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;

}

/*right-section*/
#page-1 > section > .rightSection {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


/*left-section Style =========>*/
#page-1 > section > section > article {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;

}


#page-1 > section > .leftSection > section {
    width: 100%;
    display: flex;
    height: 30%;
    flex-direction: column;
}

#page-1 > section > section > article > div:nth-child(1) {
    align-self: self-end;
}

#page-1 > section > section > article > div:nth-child(2) {
    padding-top: 1%;
    align-self:end;
}

#page-1 > section > section > article > div > h1 {
    font-size: 2.7rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding-left: 0;
    color: rgba(245, 245, 245, 0.67);
    transition: all 2s;

}
#page-1 > section > section > article > div > h1:nth-child(1){
    animation-delay: 1s;
}
#page-1 > section > section > article > div > h1:nth-child(2){
    animation-delay: 5s;
}
#page-1 > section > section > article > div:hover h1{
    background-size: 100%;
    color: rgba(245, 245, 245, 0.82);
    transition: all 2s;
}
@keyframes animateFadeOutIn {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}


#page-1 > section > section > article > div > h1:first-child {
    padding-top: 5%;
    margin-bottom: 0;
}

#page-1 > section > section > article > div > h1:last-child {
    margin: 0;
}

.workArea p {
    margin: 0;
    font-size: 1.9em;
    font-weight: bold;
    letter-spacing: 10px;
    font-family: 'Bebas Neue', cursive;
    overflow: hidden;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255));
    background-repeat: no-repeat;
    background-size: 80%;
    -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0);
    animation-delay: 5s;
    animation: animateFadeOutInPR 5s linear infinite;
    transition: all 2s;

}
.workArea>p:nth-child(1){
    animation-delay: 1s;
}
.workArea>p:nth-child(2){
    animation-delay: 1.5s;
}
.workArea>p:nth-child(3){
    animation-delay: 8s;
}
.workArea>p:nth-child(4){
    animation-delay: 12s;
}
.workArea>p:nth-child(5){
    animation-delay: 16s;
}
.workArea>p:nth-child(6){
    animation-delay: 20s;
}
.workArea:hover p{
    background-size: 100%;
   color: rgba(255, 255, 255, 0.85);
    transition: all 2s;
}
@keyframes animateFadeOutInPR {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

#page-1 > section > .leftSection > section > section:nth-child(1) {
    display: flex;
    height: max-content;
    flex-direction: row;
    justify-content: center;
}

#page-1 > section > .leftSection > section > section:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    align-items: end;
    padding-bottom: 5%;
    cursor: pointer;
}

#page-1 > section > .leftSection > section > section:nth-child(1) > div:nth-child(1) {
    width: 100px;
    transition: all 2s;
}

#page-1 > section > .leftSection > section > section:nth-child(1) > div:nth-child(2) {
    margin-left: 20px;
    width: 150px;
    transition: all 2s;
}




#page-1 > section > section:nth-child(1) > section > section:nth-child(2) > div {
    margin-left: 10px;
    width: 4.1vw;
    height: 4.1vw;
    border-style: solid;
    border-width: 5px;
    border-radius: 100%;
    transform: rotate(-360deg);
    transition: transform 2s;

}


#page-1 > section > section:nth-child(1) > section > section:nth-child(2) > div:nth-child(1) {
    border-color: #ffffff;

}

#page-1 > section > section:nth-child(1) > section > section:nth-child(2) > div:nth-child(2) {
    border-color: #ffffff;

}

#page-1 > section > section:nth-child(1) > section > section:nth-child(2) > div:nth-child(3) {
    border-color: #ffffff;
}
#page-1 > section > section:nth-child(1) > section > section:nth-child(2) > div:nth-child(4) {
    border-color: #ffffff;

}

#page-1 > section > section:nth-child(1) > section > section:nth-child(2) > div:nth-child(4) img{
    box-sizing: border-box;
    border:black solid 2px;
    border-radius: 100%;
}

#page-1 > section > section:nth-child(1) > section > section:nth-child(2) > div {
    transition: all 2s;
}

#page-1 > section > section:nth-child(1) > section > section:nth-child(2) > div  img {
    width: 100%;
    height: 100%;

}

#page-1 > section > section:nth-child(1) > section > section:nth-child(2) > div:hover {
    border-color: #ffffff;
    transform: rotate(360deg);
  /*  box-shadow: 0 0 5px #151a1a,
    0 0 25px #070909,
    0 0 50px #0d1111,
    0 0 50px #130f15,
    0 0 50px #171010,
    0 0 200px #141c1c;*/
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 50px #a902ef,
    0 0 50px #f40303,
    0 0 200px #03e9f4;
    transition: all 2s;
}

#page-1 > section > section:nth-child(1) > section > section:nth-child(2) > div:nth-child(2):hover,
#page-1 > section > section:nth-child(1) > section > section:nth-child(2) > div:nth-child(3):hover {
    margin-right: 50px;
    margin-left: 50px;
}


/*right-section Style =========>*/

#page-1 > section > .rightSection > section:nth-child(1) {
    align-self: center;
    padding-top: 10%;
    height: 10%;
}

#page-1 > section > .rightSection > section:nth-child(1) > div img {
    width: 100%;
}

#page-1 > section > .rightSection > section:nth-child(2) {
    height: 90%;
    width: 50%;
    align-self: self-start;

}

#page-1 > section > .rightSection > section:nth-child(2) > div {
    background-image: url("../img/me.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 100%;
}