
#page-8 {
    justify-content: center;
    align-items: center;
    display: none;
}


#page-8 > section {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;


}

#page-8 > section:hover {
    /*    box-shadow: 0 -2px 5px whitesmoke;*/
}

#page-8 .gallerySection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85%;
    justify-content: center;

}

#page-8 .gallerySection > section {
    background-color: rgba(255, 255, 255, 0.84);
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
}

#page-8 .gallerySection > section > section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;

}

#page-8 .gallerySection > section > section > figure {
    width: 100%;
    margin: 0;
    height: 50%;
}

#page-8 .gallerySection > section > section > figure > img {
    width: 100%;
    height: 100%;
    padding: 1%;
    cursor: pointer;
}

#page-8 .gallerySection > section > section > figure:hover {
    transform: scale(1.1);
    align-self: center !important;
    transition: all 1s;
}

#page-8 .gallerySection .row-1 > figure:first-child {
    height: 55%;
}

#page-8 .gallerySection .row-2 > figure:first-child {
    height: 60%;
}

#page-8 h4 {
    cursor: pointer;
    text-align: center;
}


/*PAGE 9 Style*/

#page-9 {
    height: 150vh;

}

#page-9 * {
    display: flex;
}


#page-9 > section {
    width: 100%;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-9 .upSection {
    width: 100%;
    height: 40%;
    flex-direction: column;
}

#page-9 .downSection {
    position: relative;
    width: 80%;
    height: 60%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#page-9 .downSection::before {
    content: " ";
    width: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    box-shadow: 0 0 5px #0e0c0c;
    background-color: #0e0c0c;
    margin-top: 10px;
    height: 2px;
}


#page-9 .upSection > section {
    flex-direction: column;
}

#page-9 .upSection > section p {
    width: 80%;
    align-self: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    letter-spacing: 4px;

}


#page-9 .downSection > section {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.contactForm {
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;


}

.contactForm > input, textarea {
    border-radius: 5px;
    margin: 10px;
    /*border: blue solid 2px;*/
    color: black;
}

.contactForm > :first-child {
    height: 100px;
}

.contactForm > button {
    width: 100px;
    align-items: center;
    align-self: center;
    background: linear-gradient(to right, black, #690303);
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #fff;
    cursor: pointer;
    font-family: "JetBrains Mono", monospace;
    height: 35px;
    justify-content: center;
    transition: box-shadow .15s, transform .15s;
}

.contactForm > button:hover {
    background: linear-gradient(to left, black, #690202);
    transition: all 2s;

}


#page-9 .downSection > :last-child {
    height: 90%;
}

#page-9 .downSection > :last-child iframe {
    width: 100%;
    height: 50%;
    box-shadow: 0 0 10px #005fd0;
    border-radius: 20px
}


/*FOOTER AREA ========================>*/
body > footer {
    border-top: 2px solid whitesmoke;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.88);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "JetBrains Mono", monospace;
    font-size: 1em;
}
body > footer>section{
    height: 80%;
}
footer h2,footer p{
    color: white;
    margin: 0;
}
footer>section:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;

}
footer>section:nth-child(2)>div{
    margin: 5px;
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    align-content: center;

}
footer>section:nth-child(2)>div:nth-child(1):hover{
    background-color: #0f46d7;
}
footer>section:nth-child(2)>div:nth-child(2):hover{
    background-color: deepskyblue;
}
footer>section:nth-child(2)>div:nth-child(3):hover{
    background-color: #036dd7;
}
footer>section:nth-child(2)>div:nth-child(4):hover{
    background-color: #1dab1d;
}
footer>section:nth-child(2)>div{
    transition: background-color 2s;
}
footer>section:nth-child(2) img{
   width: 1.5em;
}
footer>section:nth-child(3){
    height:80%;
    align-self: end;

}
footer>section:nth-child(3) p{
    opacity: 0.7;
    margin: 5px;
    color: white;
}
footer>section:nth-child(3) span{
    background-image: url("../img/footer call.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}
footer>section:nth-child(3) a{
    display: inline-flex;
    margin-top: 5px;
    color: white;
}
footer>section:nth-child(3) a:hover{
    color: red;
}
footer>section:nth-child(4){
  height: 30%;
align-self: end;
}

