
#page-8 {
justify-content: center;
    align-items: center;
}


#page-8 > section {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    background: linear-gradient(180deg, rgba(3,3,3,0.9108018207282913) 19%, rgba(86, 4, 11, 0.93) 44%, rgba(0,0,0,1) 81%);
    z-index: 1;
}
#page-8 > section:hover {
/*    box-shadow: 0 -2px 5px whitesmoke;*/
}
#page-8 .gallerySection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85%;
    justify-content: center;

}

#page-8 .gallerySection > section {
    background-color: rgba(255, 255, 255, 0.84);
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 100%;
}

#page-8 .gallerySection > section > section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;

}

#page-8 .gallerySection > section > section > figure {
    width: 100%;
    margin: 0;
    height: 50%;
}

#page-8 .gallerySection > section > section > figure > img {
    width: 100%;
    height: 100%;
    padding: 1%;
    cursor: pointer;
}
#page-8 .gallerySection > section > section > figure:hover{
    transform: scale(1.1);
    align-self: center !important;
    transition: all 1s;
}

#page-8 .gallerySection .row-1 > figure:first-child {
    height: 55%;
}

#page-8 .gallerySection .row-2 > figure:first-child {
    height: 60%;
}

#page-8 h4 {
    cursor: pointer;
    color: #ffffff;
    text-align: center;
}


/*PAGE 9 Style*/

#page-9 {


}

#page-9 * {
    display: flex;
}



#page-9 > section {
    width: 100%;
    height: 90%;
    flex-direction: column;
}

#page-9 .upSection {
    width: 100%;
    height: 40%;
    flex-direction: column;
}

#page-9 .downSection {
    width: 100%;
    height: 60%;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#page-9 .upSection > section {
    flex-direction: column;
}

#page-9 .upSection > section p {
    width: 80%;
    align-self: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
}



#page-9 .downSection > section {
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;

}
#page-9 .downSection > section:nth-child(2){
    flex-grow: 1;
    display: flex;
    width: 40%;
    align-items: center;
}
.contactForm{
    justify-content: center;
    height:100%;
    width: 100%;
    flex-direction: column;


}
.contactForm>input,textarea{
    border-radius: 5px;
    margin:10px;
    border: blue solid 2px;
    box-shadow: 0 0 5px white;
    color: black;
}
.contactForm>:first-child{
    height: 100px;
}

.contactForm>button{
width: 100px;
    align-items: center;
    align-self: center;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #fff;
    cursor: pointer;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    transition: box-shadow .15s,transform .15s;
}


#page-9 .downSection > :first-child img {
    width: 90%;
    height: 70%;
    border-radius: 20px;
    box-shadow: 0 0 5px #ffffff;
}

#page-9 .downSection > :last-child {
    height: 100%;
    justify-content: center;
}

#page-9 .downSection > :last-child iframe {
    width: 90%;
    height: 70%;
    box-shadow: 0 0 10px #005fd0;
    border-radius: 20px;
}



 /*FOOTER AREA ========================>*/
body>footer{
    height: 20vh;
    background-color: rgba(44, 41, 41, 0.74);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:5%;

}
body>footer> div{
    width: 50%;
}
body>footer div h2,p{
margin: 0;
}
body>footer div:nth-child(2){
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    padding-bottom: 1%;
    height: 100%;
    align-items: flex-end;
}