
#page-6 {

}


#page-6 > section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#page-6 > section > .upSection {
    display: flex;
    flex-direction: column;
}

#page-6 > section > .upSection ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
}

#page-6 .upSection ul > li {
    margin: 10px;
}

#page-6 .downSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
    justify-content: center;

}

#page-6 .downSection > section {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.81);
    align-items: center;
    width: 90%;
    height: 100%;
    border-radius: 20px;
}

#page-6 .downSection > section > section {
    width: 100%;
    height: 90%;
    overflow-x: scroll;
}

#page-6 .downSection > section > section::-webkit-scrollbar-track {
    background-color: #1a1010;
    width: 10px;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

#page-6 .downSection > section > section::-webkit-scrollbar {
    height: 15px;
}

#page-6 .downSection > section > section::-webkit-scrollbar-thumb {
    background: #ffffff;
    box-shadow: 0 0 50px #ffffff;
    border-radius: 20px;
    border: black solid 2px;
}

#page-6 .downSection > section > section::-webkit-scrollbar-thumb:hover {
    background: #005fd0;
}

#page-6 .downSection > section > section > section {
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: row;

}

#page-6 .downSection > section > section > section > div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 27vw;
    min-width: 12.7vw;
    height: 90%;
    margin: 10px;

}
#page-6 .downSection > section > section > section > div>article{
    position: absolute;
    opacity: 0;
    z-index: 5;
    top: 5%;
    text-align: center;

}
#page-6 .downSection > section > section > section > div>article *{
    font-weight: bold;
    color: white;
    font-size: 1.1em;
}
#page-6 .downSection > section > section > section > div:hover >article{
    opacity: 1;
    transition: opacity 2s;
}
#page-6 .downSection > section > section > section > div::after{
    position: absolute;
    content: "";
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 4;
}
#page-6 .downSection > section > section > section > div >:nth-child(3){
    position: absolute;
    width: 70px;
  opacity: 0;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.32);
    height: 50px;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
    z-index: 5;
}
#page-6 .downSection > section > section > section > div >:nth-child(3)> a > span{
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width:30px;
    height: 30px;
    cursor: pointer;
    border-radius:30px;
    bottom: 0;
    top: 0;
    margin: auto;
}
#page-6 .downSection > section > section > section > div >:nth-child(3)>:first-child>span{
    background-image: url("../img/icons8-github-24.png");
    left: 2px;

}
#page-6 .downSection > section > section > section > div >:nth-child(3)>:last-child>span{
    background-image: url("../img/icons8-eye-64.png");
    right: 2px;
}



#page-6 .downSection > section > section > section > div:hover >div{
   opacity: 1;
}

#page-6 .downSection > section > section > section > div:hover >div span:hover{
    transform: rotate(360deg);
    transition: all 2s;
}

#page-6 .downSection > section > section > section > div:hover img{
    transform: scale(1.05);
    transition: all 0.5s;
}
#page-6 .downSection > section > section > section > div:hover::after{
    background: linear-gradient(#9504c0,rgba(0, 0, 0, 0.1));
    transition: all 1s;

}





#page-6 .downSection > section > section > section > div > figure {
    width:95%;
    height: 95%;
    border-radius: 20px;
    border: black solid 2px;
}

#page-6 .downSection > section > section > section > div img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

/* PAGE -7 ================================>*/

#page-7 {
    justify-content: center;
    align-items: center;
}


#page-7 > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;

}



#page-7 .upSection {
    width: 80%;
    display: flex;
    height: 20%;
}


#page-7 .downSection {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

#page-7 .downSection p {
    text-align: center;
    margin: 20px;
    color: white !important;

}

#page-7 .downSection > section {
    width: 90%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.81);
    border-radius: 20px;

}

#page-7 .downSection > section > section {
    width: 100%;
    height: 95%;
    overflow-x: scroll;

}

#page-7 .downSection > section > section::-webkit-scrollbar-track {
    background-color: #1a1010;
    width: 10px;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

#page-7 .downSection > section > section::-webkit-scrollbar {
    height: 15px;
}

#page-7 .downSection > section > section::-webkit-scrollbar-thumb {
    background: #ffffff;
    box-shadow: 0 0 50px #ffffff;
    border-radius: 20px;
    border: black solid 2px;
}

#page-7 .downSection > section > section::-webkit-scrollbar-thumb:hover {
    background: #03e9f4;
}

#page-7 .scrollSection {
    width: 150%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

#page-7 .scrollSection > section {
    flex-grow: 1;
}


#page-7 .scrollSection > .up {
    width: 100%;
    display: flex;
    height: 55%;
    flex-direction: row;

}

#page-7 .scrollSection > .down {
    height: 46%;
    width: 100%;
    display: flex;
    flex-direction: row;

}


/*UP=======>*/

#page-7 .up > section {
    width: 50%;
    /*  border: red solid 0.5px;*/
    display: flex;
    flex-direction: column;
    align-items: end;
}


/*first-Child===================>*/
#page-7 .up > :first-child > div {
    background: black;
    height: 100%;
    width: 100%;

}

#page-7 .up > :first-child > div:nth-child(1) {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 0;
    border-radius: 20px;
    align-self: center;
}

#page-7 .up > :first-child > div:nth-child(2) {
    width: 2.5%;
    margin-right: 26%;
    align-self: center;
}

#page-7 .up > :first-child > div:nth-child(3) {
    width: 70%;
    height: 20%;

}


/*UP ALL CHILD============>*/

#page-7 .up > section > div {
    height: 100%;
    background: black;

}

#page-7 .up > section > div:nth-child(1) {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 0;
    border-radius: 20px;
    background: linear-gradient(to right, black , #243d3f);
    align-self: flex-start;

    letter-spacing: 2px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    font-weight: bold;
    transition: all 2s;
}

#page-7 .up > section > div:nth-child(2) {
    width: 2.5%;
    align-self: flex-start;
    margin-left: 26%;
}

#page-7 .up > section > div:nth-child(3) {
    width: 100%;
    height: 20%;
}


/*DOWN=======>*/


#page-7 .down > section {
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

#page-7 .down > section > div {
    background-color: black;
}

#page-7 .down > section > div:first-child {
    width: 2.5%;
    height: 40%;
    padding-bottom: 2%;
    margin-right: 26%;

}

#page-7 .down > section > div:last-child {
    width: 60%;
    height: 50%;
    border-radius: 20px;
    background: linear-gradient(to right,  #243d3f, black);
    letter-spacing: 2px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    font-weight: bold;
    transition: all 2s;
}


#page-7 .down > :first-child {

    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

#page-7 .down > :first-child > div {
    background-color: black;
}

#page-7 .down > :first-child > div:first-child {
    width: 2.5%;
    height: 40%;
    margin-right: 26%;

}

#page-7 .down > :first-child > div:last-child {
    width: 60%;
    height: 50%;
    border-radius: 20px;

}

#page-7 .up > section > :first-child:hover {
    transition: all 2s;
}

#page-7 .down > section > :last-child:hover {
    transition: all 2s;

}




