
:root{
    --pRed: rgba(255, 68, 68, 0.56);
}


*, *::after, ::before {
    color: white;
    box-sizing: border-box;

}

h1 {
    font-family: 'Orbitron', sans-serif;
    padding-left: 10%;
}

a {
    text-decoration: none;

}
body{
    background: #000000;

}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #000000;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
    box-shadow: 0 0 50px #03e9f4,
    0 0 50px #03e9f4;
    cursor: pointer !important;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c40303;

}


body > header {
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 10;
    opacity: 0.8;

}
body > header::after {
    content: " ";
    bottom: 0;
    height: 4px;
    border-radius: 100%;
    position: absolute;
    width: 85%;
    left: 5%;
    box-shadow: 0 0 20px #ffffff, 0 0 20px #ebf0f1;
    background-color: rgba(255, 255, 255, 0.56);
    transition: all 10s;
    animation-name: mainTopShadow-hover;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: none;
}




/*HEADER ARIA START..*/
header > nav {
    position: relative;
}


header > nav > div {
    position: absolute;
}

header > nav > div:nth-child(1) {
    left: 0;
}

header > nav > div:nth-child(2) {
    right: 0;
}

header > nav > :last-child > ul li {
    display: inline-block;
    padding-top: 7px;
    padding-right: 15px;


}

header > nav > :last-child > ul li a {
    color: #ffffff;
    text-shadow:0 0 5px #000000,
    0 0 5px #000000;
    transition: all 2s;
    letter-spacing: 5px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

header > nav > :last-child > ul li a:hover {
    color: black;
    background: rgba(3, 233, 244, 0.75);
    box-shadow: 0 0 5px #03e9f4,
    0 0 50px #03e9f4,
    0 0 50px #03e9f4,
    0 0 50px #a902ef,
    0 0 200px #f403e0;
    margin-left: 200px;
    transition: all 2s;
    text-shadow:0 0 0px black;

}
body > main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

}

body > footer {
    width: 100%;
}

main > main {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100vh;
    align-items: end;

}

main>section{
    width: 90%;
    height: 89%;
    max-height: 100%;
    display: flex !important;
    border-radius: 25px;
 /*   background: linear-gradient(180deg, rgba(0,0,0,0.9836309523809523) 0%, rgba(255,255,255,1) 100%);*/

    background: rgb(3,3,3);
    background: linear-gradient(180deg, rgba(3,3,3,0.8071603641456583) 0%, rgba(250,250,250,0.9304096638655462) 100%);

    transition: all 2s !important;
}
main>section:hover{
    box-shadow: 0 0 10px whitesmoke,0 0 10px whitesmoke,0 0 20px whitesmoke;
    transition: all 2s;
}
.mainHeaders{
letter-spacing: 20px;
}
main>aside{
    position: fixed;
    right: 0;
    bottom: 0;
    width: max-content;
    height: max-content;
    top: 0;
    margin: auto;
}
main>aside>section{
    background-color: rgba(255, 255, 255, 0);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin: 10px;
    margin-right: 0;
    cursor: pointer;
    height: max-content;
    width: 10vw;
    position: relative;
    right: -7vw;
    transition: all 2s;
}

main>aside>section>div{
    width: 100%;
    height: 100%;
}
main>aside>section>div img{
    width: 2vw;
    transition: all 2s;

}
main>aside>section>div>a{
    display: flex;
}
main>aside>section>div>a > span{
    padding-left: 1vw;
    align-self: center;
    font-weight: bold;
    visibility: collapse;
}
main>aside>section:hover{
    right: 0;
    transition: all 1.5s;
    background-color: rgba(255, 255, 255, 0.92);
}
main>aside>section:hover img{
    transform: rotate(-360deg);
    transition: all 2s;
}
main>aside>section:hover span{
    visibility: visible;
    color: #000000;
}



/*HEADER ARIA END..*/

@keyframes mainTopShadow {
    from {
        left: 0;
        width: 10%;
    }
    to {
        left: 90%;
    }

}

@keyframes mainTopShadow-hover {
    form {
        width: 80%;
        left: 10%;
    }
    to {
        width: 10%;
        left: 45%;
    }
}
